<div class="container main-container">
    <h3 class="card-title"> <strong>{{formLabel}}</strong></h3>
    <div class="alert alert-danger" role="alert" *ngIf="msgsErro?.length">
        <strong>Ops! Algo não deu certo.</strong>
        <p *ngFor="let msg of msgsErro">{{msg}}</p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="operationSuccess">
        <strong>Muito bem!</strong>
        <p>{{msgOperationSuccess}}</p>
    </div>
    <form [formGroup]="formRegisterEmployee">
        <div class="form-group ">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Empresa</label>
                        <select class="browser-default custom-select">
                            <option value="">Selecione</option>
                            <option [ngValue]="company.id" *ngFor="let company of companys">{{company.fantasyName}}
                            </option>
                        </select>
                    </div>
                </div>


            </div>
        </div>

        <!--Div botoes-->
    </form>
    <br>
    <!--Section-->
</div>