<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
        <p class="lead mb-5 text-white">Projeto desenvolvido para integração de membros.</p>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/senac.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Senac</h4>
          <p class="card-text">Desde 1946, o Serviço Nacional de Aprendizagem Comercial – Senac é o principal agente de educação profissional voltado para o Comércio de Bens, Serviços e Turismo do País.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.senac.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/db1.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">DB1 Group</h4>
          <p class="card-text">Ajudamos as empresas a estarem sempre à frente
            A satisfação dos nossos clientes acima de 92% é fruto de processos maduros e certificações como CMMI 3, apoiados em metodologias e pessoas altamente qualificadas.</p>
        </div>
        <div class="card-footer">
          <a href="https://www.db1.com.br/" class="btn btn-primary" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/github.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Rafael Miranda</h4>
          <p class="card-text">Repositório utilizado para projetos pessoais e estudo.</p>
        </div>
        <div class="card-footer">
          <a href="https://github.com/rafael-miranda10" class="btn btn-primary" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/angular.png" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Todas as Plataformas</h4>
          <p class="card-text">Aprenda uma maneira de criar aplicativos com o Angular e reutilize seu código e habilidades para criar aplicativos para qualquer destino de implantação. Para web, web móvel, móvel nativo e desktop nativo.</p>
        </div>
        <div class="card-footer">
          <a href="https://angular.io/" class="btn btn-primary" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Content -->  
