<div class="container main-container">
    <h3 class="card-title"> <strong>{{formLabel}}</strong></h3>
    <div class="alert alert-danger" role="alert" *ngIf="msgsErro?.length">
        <strong>Ops! Algo não deu certo.</strong>
        <p *ngFor="let msg of msgsErro">{{msg}}</p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="operationSuccess">
        <strong>Muito bem!</strong>
        <p>{{msgOperationSuccess}}</p>
    </div>
    <form [formGroup]="formEmployeePosition">
        <input type="hidden" id="id" formControlName="id">
        <div class="form-group ">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" >
                        <label>Descrição</label>
                        <input type="text" class="form-control" id="descricao" formControlName="description"
                            [ngClass]="{ 'is-invalid': submitted && formEmployeePosition.get('description').errors }">
                        <div class="invalid-feedback"
                            *ngIf="submitted && formEmployeePosition.get('description').errors">
                            <div *ngIf="formEmployeePosition.get('description').hasError('required')">
                                Campo obrigatório.
                            </div>
                            <div *ngIf="formEmployeePosition.get('description').hasError('minlength')">
                                Campo deve ter no minímo 3 caracteres
                            </div>
                            <div *ngIf="formEmployeePosition.get('description').hasError('maxlength')">
                                Campo deve ter no maxímo 50 caracteres
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" >
                        <label>Salário</label>
                        <input type="text" class="form-control" id="sobrenome" formControlName="salary"
                            [ngClass]="{ 'is-invalid': submitted && formEmployeePosition.get('salary').errors }">
                        <div class="invalid-feedback"
                            *ngIf="submitted && formEmployeePosition.get('salary').errors">
                            <div *ngIf="formEmployeePosition.get('salary').hasError('required')">
                                Campo obrigatório.
                            </div>
                            <div *ngIf="formEmployeePosition.get('salary').hasError('pattern')">
                                Campo deve ter apenas números
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" >
                        <label>Núemre de Referência</label>
                        <input type="text" class="form-control" id="cnpj" formControlName="referenceNumber"
                            [ngClass]="{ 'is-invalid': submitted && formEmployeePosition.get('referenceNumber').errors }">
                        <div class="invalid-feedback"
                            *ngIf="submitted && formEmployeePosition.get('referenceNumber').errors">
                            <div *ngIf="formEmployeePosition.get('referenceNumber').hasError('required')">
                                Campo obrigatório.
                            </div>
                            <div *ngIf="formEmployeePosition.get('referenceNumber').hasError('pattern')">
                                Campo deve somente números.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div>
            <button type="button" class="btn btn-dark" (click)="cancel()">Limpar</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-dark" (click)="onSubmit()">Salvar</button>
        </div>
    </form>
    <br>
    <section>
        <div class="row">
            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Descrição</td>
                        <td>Salário</td>
                        <td>Referência</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employeePosition of employeePositions; let i = index">
                        <td>{{employeePosition.id}}</td>
                        <td>{{employeePosition.description}}</td>
                        <td>{{employeePosition.salary}}</td>
                        <td>{{employeePosition.referenceNumber}}</td>
                        <td><button class="btn btn-light" (click)="edit(employeePosition)">Editar</button>&nbsp;&nbsp;<button
                                class="btn btn-light" (click)="delete(employeePosition.id, i)">Deletar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>
</div>